 * {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces {
	background-color: #4c566a;
	margin: 5px;
	margin-left: 10px;
	border-radius: 5px;
}
#workspaces button {
    padding: 0 10px;
    color: #eceff4;
}

#workspaces button.focused {
    color: #2e3440;
    background-color: #88c0d0;
    border-radius: 5px;
}

#workspaces button:hover {
	background-color: #5e81ac;
	border-radius: 5px;
}

#custom-date, #clock, #battery, #pulseaudio, #backlight, #network, #custom-memory, #custom-cmus {
	background-color: #4c566a;
	padding: 0px 10px;
	margin: 5px 0px;
}

#custom-date {
	color: #8fbcbb;
}

#custom-power {
	color: #2e3440;
	background-color: #bf616a;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 0px 10px;
}

#clock {
    color: #b48ead;
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
}

#battery {
    color: #a3be8c;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.charging {
    color: #a3be8c;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
	color: #d08770;
}

#pulseaudio {
	color: #ebcb8b;
	border-radius: 5px 0px 0px 5px;
}
